.library {
  width: 400px;
  height: 500px;
  background-color: #131312;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: default;
}

.librarycard {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}


